body {
    background-image: url(/images/background.png);
}

.title {
    margin: auto;
    width: 50%;
}

.middle {
    margin: auto;
    width: 50%;
}

.container {
    width: 50%;
    max-width: 100%;
    margin: 0 auto;
}

.dog_list {
    list-style-type: none;
}


.grid-item {
    float: left;
    width: 25%;
    height: 25%;
}

.family_photo {
    margin: auto;
    width: 50%;
}

/* .container2 {
    max-width: 100%;
    margin: 0 auto;
}

.grid-item2 {
    padding: 1%;
    float: left;
    width: 20%;
    height: 20%;
} */